        <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#!/">YouDoTwo</a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li  ng-repeat="header in $ctrl.headers" ng-click="setIndex(0)" ng-class="(index==0) ? 'active' : ''">
                        <a href="/#!/">{{header.name}}</a>
                    </li>
                    <li>
                        <a class="btn btn-default btn-outline btn-circle collapsed" id="signin-btn"  data-toggle="collapse" href="/#!/signup" aria-expanded="false" aria-controls="nav-collapse2">Register</a>
                    </li>
                    <li>
                        <a class="btn btn-default btn-outline btn-circle collapsed" id="signin-btn"  data-toggle="collapse" href="/#!/login" aria-expanded="false" aria-controls="nav-collapse2">Sign in</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
